body {
    background-color: #ada9a9;
}
.jumbotron {
   padding-left: 30%;
   background-color: #f5bbbb;
}
.grid-item {
    margin: 10%;
}
a {
    color: #070101;
    font-size: large;
}
#back {
    margin-bottom: 3%;
}